.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px; /* Set a fixed height */
  width: 100%;
  height: auto;
}

.header-logo {
  width: 40%;
  max-width: 25%;
  height: auto;
  margin: 10px;
  object-fit: contain;
  margin: 1px 1px 1px 1px;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.external-link-img {
  width: "100%";
}

@media (max-width: 768px) {
  .header-logo {
    max-width: 400px; /* Adjust the max width for tablets */
  }
}

@media (max-width: 480px) {
  .header-logo {
    max-width: 300px; /* Adjust the max width for mobile devices */
  }
}

.external-links {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 20px; /* Adjust spacing between the buttons */
  flex-wrap: wrap; /* Wrap buttons to the next line for smaller screens */
}

@media (prefers-color-scheme: dark) {
  .header-logo {
    filter: invert(1); /* Invert the logo colors for dark mode */
  }

  .external-link-img {
    filter: invert(1); /* Invert the link icons for dark mode */
  }
}
