.weather-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.forecast-col {
  flex: 0 0 auto; /* Prevent column from shrinking */
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px; /* Fixed width for uniformity */
  height: 150px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  flex-shrink: 0; /* Prevent the forecast item from shrinking */
}

.forecast-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.day-name {
  font-size: 1rem;
  margin-top: 5px;
}

.temp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.temp-high, .temp-low {
  font-size: 1.5rem;
  font-weight: normal;
}

.bold-large {
  font-weight: bold;
}

.temp-separator {
  font-size: 1.5rem;
  font-weight: normal;
  vertical-align: middle;
}

.rain-chance {
  font-size: 0.75rem;
  color: #007aff;
  margin-top: 5px;
}

/* Media query for smaller screen sizes */
/* @media (max-width: 400px) {
  .forecast-item {
    width: 100px;
    height: 120px;
    margin: 5px;
  }
} */

@media (max-width: 500px) {
  .forecast-item {
    width: 120px;
    height: 140px;
    margin: 5px;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
    margin: 0px;
  }

  .day-name {
    font-size: 0.8rem;
  }

  .temp-high, .temp-low {
    font-size: 1rem;
  }

  .temp-separator {
    font-size: inherit;
  }

  .rain-chance {
    font-size: 0.65rem;
  }
}